@media screen and (max-width: 1028px){
    /* classes gerais*/
    .flex{
        flex-direction: column-reverse;
    }
    #img_logo{
        width: 152px;
    }
    #h1_dev{
        width: 280px;
        line-height:48px;
        font-size: 55px;
        position: relative;
        left: 19px;
        bottom: 225px;
    }
    #logo_img2{
        position: relative;
        left:352px
    }
    }