html{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow: hidden;
  
}
a{
    text-decoration: none;
    
}

#img_logo{
    width: 265px;
    height: 180px;
    flex-shrink: 0;
    position: relative;
    right:-10px;
    bottom: 50px;
}
.btn_AEFY2455{
    width: 110px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 200px;

background: #1AFF13;
border: 0;
position: relative;
left: 1030px;
bottom: 170px;

}
.btn_AEFY2455:hover{
    width: 110px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 200px;

background: #00E1FF;;
border: 0;
position: relative;
left: 1030px;
bottom: 170px;
transform: scale(10px);
transition:  1s;
}
#span_AEFY2452{
    width: 100px;
    position: relative;
    left: -10px;
    top: 50px;
}
#img_login{
    width: 25px;
height:1,5625em;
display: flex;
    position: relative;
  left: -25px;
    bottom: 98px;
    flex: 1;
}
#p_login{
    position: relative;
    left: 15px;
    bottom: 9px;
    color: #000;
font-family: Chelsea Market;
font-size: 15px;
font-style: normal;

line-height: normal;
}.btn_AEFY2456{
    width: 103px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 200px;

background: #1AFF13;
border: 0;
position: relative;
left: 1210px;
bottom: 255px;
transform: scale(10px);
transition:  1s;
}
.btn_AEFY2456:hover{
    width: 103px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 200px;


    background: #00E1FF;
border: 0;
position: relative;
left: 1210px;
bottom: 255px;
transform: scale(10px);
transition:  1s;

}
#span_AEFY2453{
    width: 100px;
    position: relative;
    left: -10px;
    top: 50px;
}
#img_login2{
    width: 25px;
height: 25px;

    position: relative;
  left: -25px;
    bottom: 98px;
}
#p_login2{
    position: relative;
    left: 10px;
    bottom: 10px;
    color: #000;
font-family: Chelsea Market;
font-size: 15px;
font-style: normal;

line-height: normal;
}
#ou_p{
    position: relative;
left: 1170px;
bottom: 210px;
}
#h1_dev{
    color: #0000FA;
font-family: Nerko One;
font-size: 75px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 635px;
height: 148px;
flex-shrink: 1;
position: relative;
 bottom: 177px;
 left: 80px;
}
#h2_dev{
    color: #000;
font-family: Roboto Condensed;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left:49px;
bottom: 127px;
}
#logo_img2{
    width: 360px;
    height: 360px;
    flex-shrink: 0;
    position: relative;
    left: 979px; 
    bottom: 439px
}
.menu_top{
    width: 2100px;
height: 127px;
flex-shrink: 0;
background: #05056D;
position: relative;
bottom: 343px;
overflow: hidden;
outline: #0000FA;
border-radius: 0.005em ;
}
.route{
    color: #ffffff;
    
font-family: Chakra Petch;
font-size: 32px;
font-style: normal;
font-weight: 400;


}
#Home{
    position: relative;
    left: 60px;
    bottom: 100px;
    }
#Logs{
position: relative;
bottom: 50px;
right: 20px;
}
#Api{
    position: relative;
bottom: 100px;
   
    right: -100px;
    }
    #Planos{
        position: relative;
bottom: 47px;
       
        right: -50px;
        }
        #img_logo2{
            width: 230px;
            position: relative;
            right: -520px;
            top: 10px;
        }
        /* segunda parte do munu drop */
        #Quem{
            position: relative;
            bottom: 100px;
            right: -600px;
            }
        #Faq{
            position: relative;
            bottom: 50px;
            right: -550px;
            }
            
                #Termos{
                    position: relative;
                    bottom: 100px;
                    right: -600px;
                    }
                    #Suprir{
                        position: relative;
                        bottom: 50px;
                        right: -500px;
                        }
                        #Login_2{
                            position: relative;
                            bottom: 100px;
                            right: -600px;
                            }

                            #Cadastro_2{
                                position: relative;
                                bottom: 50px;
                                right: -520px;
                                }
                                @media (max-width: 400px){
                                    /* classes gerais*/
                                    .flex{
                                        flex-direction: column-reverse;
                                    }
                                    /* imagens */
                                    #img_logo{
                                        width: 152px;
                                    }
                                    #logo_img2{
                                        position: relative;
                                        left:352px;
                                    }
                                   
                                    /* textos*/
                                    #h1_dev{
                                        width: 280px;
                                        line-height:48px;
                                        font-size: 55px;
                                        position: relative;
                                        left: 19px;
                                        bottom: 225px;
                                        color: aqua;
                                    }
                                    #h2_dev{
                                        font-family:'Poppins', sans-serif ;
                                        position: relative;
                                        right: 163px;
                                    }               
                                }